#forgotEmailLabel{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Monaco";
}

#resendCodeLabel{
    -fx-font-size: 12px;
    -fx-text-fill: steelblue;
}

#resendCodeLabel:hover{
    -fx-cursor: hand;
}