#connectButton{
    -fx-shadow-highlight-color : transparent;
    -fx-outer-border : black;
    -fx-inner-border : black;
    -fx-focus-color: transparent;
    -fx-faint-focus-color : transparent;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: "Monaco";
    -fx-pref-width: 75;
    -fx-pref-height: 10;
}
.label{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: "Monaco";
}